/* app css stylesheet */

.current-container {
    height: 250px;
    border-style: solid;
}

.main-container {
    float: left;
}

.sidebar-container {
    float: right;
    width: 200px;
    background-color: gray;
    border-left-style: dotted;
}

.sidebar-button {
    width: 100%;
}

.sidebar-element {
    border-bottom-style: dotted;
}