<div class="current-container">
    <div>Current Showing</div>
</div>
<div class="main-container">
    <div class="announcements-container">
        <div>Latest Announcement</div>
    </div>
</div>
<div class="sidebar-container">
    <div class="sidebar-element">
        Poll
        <form>
            <input type="radio" name="title" value="male">Male</input><br>
            <input type="radio" name="title" value="female">Female</input>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
        <!-- Button trigger modal -->
        <button class="btn btn-primary btn-small sidebar-button"
            data-toggle="modal" data-target="#myModal">Submit New Entry</button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myModalLabel">SUBMIT A NEW ENTRY</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form">
                            <div class="form-group">
                                <label for="title">Title</label> <input class="form-control"
                                    id="title" placeholder="Enter title">
                            </div>
                            <div class="form-group">
                                <label for="imageURL">Image URL</label> <input type="url"
                                    class="form-control" id="imageURL" placeholder="Enter URL">
                            </div>
                            <div class="form-group">
                                <label for="trailerURL">Trailer URL</label> <input type="url"
                                    class="form-control" id="trailerURL"
                                    placeholder="Enter trailer URL">
                            </div>
                            <div class="form-group">
                                <label for="infoLink">Information Link</label> <input type="url"
                                    class="form-control" id="infoLink"
                                    placeholder="Enter info link">
                            </div>
                            <button type="submit" class="btn btn-default">Submit</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar-element">
        Subscribe
        <form role="form">
            <div class="form-group">
                <label for="email">Email</label> <input class="form-control"
                    id="title" placeholder="Enter email">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
</div>