<div class="current-container" data-toggle="modal"
	data-target="#myModal2">
	<h2 class="picture-title">
		<span>{{current_anime.title}}</span>
	</h2>
	<img alt="{{current_anime.title}} image"
		src="{{current_anime.img_url}}" class="image-stuff">
</div>
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">{{current_anime.title}}</h4>
			</div>
			<div class="modal-body">
				<h4>Trailer URL</h4>
				<a target="_blank" href="{{current_anime.trailer_url}}">{{current_anime.trailer_url}}</a>
				<h4>Show Information</h4>
				{{current_anime.info}}
			</div>
		</div>
	</div>
</div>
<div class="main-container">
	<div class="announcements-container">
		<h3>Latest Announcement</h3>
		{{announcement.content}}
	</div>
</div>
<div class="sidebar-container">
	<div class="sidebar-element">
		<p>Poll</p>
		<form name="myForm" ng-controller="appController"
			ng-submit="updateVote()">
			<ul>
				<li ng-repeat="anime in animelist"><label> <input
						type="radio" ng-model="vote.selected" name="title"
						value="{{anime.title}}" /> {{anime.title}}
				</label></li>
			</ul>

            <button>Save</button>
		</form>
		<!-- Button trigger modal -->
		<button class="btn btn-primary btn-small sidebar-button"
			data-toggle="modal" data-target="#submitModal">Submit New
			Entry</button>

		<!-- Modal -->
		<div class="modal fade" id="submitModal" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h4 class="modal-title" id="myModalLabel">SUBMIT A NEW ENTRY</h4>
					</div>
					<div class="modal-body">
						<form role="form" ng-submit="alertNotSupported()">
							<div class="form-group">
								<label for="title">Title</label> <input class="form-control"
									id="title" placeholder="Enter title">
							</div>
							<div class="form-group">
								<label for="imageURL">Image URL</label> <input type="url"
									class="form-control" id="imageURL" placeholder="Enter URL">
							</div>
							<div class="form-group">
								<label for="trailerURL">Trailer URL</label> <input type="url"
									class="form-control" id="trailerURL"
									placeholder="Enter trailer URL">
							</div>
							<div class="form-group">
								<label for="infoLink">Show Information</label>
								<textarea class="form-control" id="infoLink"
									placeholder="Enter info link"></textarea>
							</div>
							<button type="submit" class="btn btn-default">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sidebar-element">
		<form role="form" ng-submit="alertNotSupported()">
			<div class="form-group">
				<label for="email"> Subscribe Email</label> <input
					class="form-control" id="title" placeholder="Enter email">
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>