<h3 class="table-title">
	Entries
	<button type="button" class="btn btn-default" ng-click="openNewModal()">
		<span class="glyphicon glyphicon-plus"></span>
	</button>
</h3>

<table class="table table-hover table-container">
	<thead>
		<tr>
			<th>Title</th>
			<th>Start Date</th>
			<th>Finish Date</th>
			<th class="table-cell-center">First Episode Watched?</th>
		</tr>
	</thead>
	<tbody>
		<tr
			ng-repeat="entry in entries | orderBy:'title' | startFrom:currentPage*pageSize | limitTo:pageSize">
			<td ng-click="openViewModal(entry)">{{entry.title}}</td>
			<td ng-click="openViewModal(entry)">{{entry.start_date}}</td>
			<td ng-click="openViewModal(entry)">{{entry.finish_date}}</td>
			<td ng-click="openViewModal(entry)" class="table-cell-center"><div
					ng-if="entry.first_watched" class="glyphicon glyphicon-ok"></div></td>
			<td align="right" class="table-cell-center">
				<button type="button" class="btn btn-default"
					ng-click="openEditModal(entry)">
					<span class="glyphicon glyphicon-pencil"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="table-container">
	<button ng-disabled="currentPage == 0"
		ng-click="currentPage=currentPage-1" class="btn btn-default">Previous</button>
	{{currentPage+1}}/{{numberOfPages()}}
	<button ng-disabled="currentPage >= entries.length/pageSize - 1"
		ng-click="currentPage=currentPage+1" class="btn btn-default">Next</button>
</div>

<div class="modal fade" id="viewModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">{{selected_entry.title}}</h4>
			</div>
			<div class="modal-body">
				<h4>Youtube Trailer</h4>
				<youtube ng-if="selected_entry.trailer_code"
					code=selected_entry.trailer_code></youtube>
				<h4>Show Information</h4>
				{{selected_entry.info}}
				<h4>Start Date {{selected_entry.start_date}}</h4>
				<h4>Finish Date {{selected_entry.end_date}}</h4>
				<h4>
					First episode watched?
					<div ng-if="selected_entry.first_watched"
						class="glyphicon glyphicon-ok"></div>
				</h4>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="submitModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">SUBMIT A NEW ENTRY</h4>
			</div>
			<div class="modal-body">
				<form role="form" ng-submit="addToLibrary()"
					ng-controller="entriesController">
					<div class="form-group">
						<label for="title">Title</label> <input class="form-control"
							id="title" placeholder="Enter title" ng-model="newAnime.title"
							required> <span ng-show='newAnime.title != null'>Did you mean {{checkLibrary}}?  It is already inputted</span>
					</div>
					<div class="form-group">
						<label for="imageURL">Image URL</label> <input type="url"
							class="form-control" id="imageURL" placeholder="Enter URL"
							ng-model="newAnime.img_url">
					</div>
					<div class="form-group">
						<label for="trailerURL">Trailer URL</label> <input type="url"
							class="form-control" id="trailerURL"
							placeholder="Enter trailer URL" ng-model="newAnime.trailer_url">
					</div>
					<div class="form-group">
						<label for="infoLink">Show Information</label>
						<textarea class="form-control info-textarea" id="infoLink"
							placeholder="Enter info link" ng-model="newAnime.info"></textarea>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">EDIT EXISTING ENTRY</h4>
			</div>
			<div class="modal-body">
				<form role="form"
					ng-submit="editLibraryEntry(editedAnime, selected_entry)"
					ng-controller="entriesController">
					<div class="form-group">
						<label for="title">Title</label> <input class="form-control"
							id="title" placeholder="Enter title" ng-model="editedAnime.title"
							required>
					</div>
					<div class="form-group">
						<label for="imageURL">Image URL</label> <input type="url"
							class="form-control" id="image_url" placeholder="Enter URL"
							ng-model="editedAnime.img_url">
					</div>
					<div class="form-group">
						<label for="trailerURL">Trailer URL</label> <input type="url"
							class="form-control" id="trailer_url"
							placeholder="Enter trailer URL"
							ng-model="editedAnime.trailer_url">
					</div>
					<div class="form-group">
						<label for="infoLink">Show Information</label>
						<textarea class="info-textarea form-control" id="infoLink"
							placeholder="Enter info link" ng-model="editedAnime.info"></textarea>
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form>
			</div>
		</div>
	</div>
</div>