<table class="table table-hover entry-table">
	<thead>
		<tr>
			<th>Title</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="entry in entries" ng-click="openViewModal(entry)">
			<td>{{entry.title}}</td>
		</tr>
	</tbody>
</table>

<div class="modal fade" id="myModal2" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">{{selected_entry.title}}</h4>
			</div>
			<div class="modal-body">
				<h4>Trailer URL</h4>
				<youtube code=selected_entry.trailer_code></youtube>
				<h4>Show Information</h4>
				{{selected_entry.info}}
			</div>
		</div>
	</div>
</div>