<h3 class="table-title">
	Already finished Entries
</h3>

<table class="table table-hover table-container">
	<thead>
		<tr>
			<th>Title</th>
            <th>Start Date</th>
            <th>Finish Date</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="entry in entries | filter:{finished: true} | orderBy:'finish_date'">
            <td ng-click="openfinishedViewModal(entry)">{{entry.title}}</td>
            <td>{{entry.start_date}}</td>
            <td>{{entry.finish_date}}</td>
            <td align="right">
                <button type="button" class="btn btn-default" ng-click="openfinishedEditModal(entry)">
                    <span class="glyphicon glyphicon-pencil"></span>
                </button>
            </td>
        </tr>
	</tbody>
</table>

<div class="modal fade" id="viewfinishedModal" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel">{{selected_entry.title}}</h4>
			</div>
			<div class="modal-body">
				<h4>Trailer URL</h4>
				<youtube ng-if="selected_entry.trailer_code" code=selected_entry.trailer_code></youtube>
				<h4>Show Information</h4>
				{{selected_entry.info}}
			</div>
		</div>
	</div>
</div>

<div class="modal fade" id="editfinishedModal" tabindex="-1" role="dialog"
    aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">EDIT EXISTING ENTRY</h4>
            </div>
            <div class="modal-body">
                <form role="form" ng-submit="editfinishedLibraryEntry(editedAnime, selected_entry)"
                    ng-controller="entriesController">
                    <div class="form-group">
                        <label for="title">Title</label> <input class="form-control"
                            id="title" placeholder="Enter title" ng-model="editedAnime.title"
                            required>
                    </div>
                    <div class="form-group">
                        <label for="imageURL">Image URL</label> <input type="url"
                            class="form-control" id="image_url" placeholder="Enter URL"
                            ng-model="editedAnime.img_url">
                    </div>
                    <div class="form-group">
                        <label for="trailerURL">Trailer URL</label> <input type="url"
                            class="form-control" id="trailer_url"
                            placeholder="Enter trailer URL" ng-model="editedAnime.trailer_url">
                    </div>
                    <div class="form-group">
                        <label for="infoLink">Show Information</label>
                        <textarea class="info-textarea form-control" id="infoLink"
                            placeholder="Enter info link" ng-model="editedAnime.info"></textarea>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>